@model HandmadeCity.ViewModels.Purchases.PurchasesViewModel
@{
    ViewData["Title"] = "История Покупок";
}

<div class="container">
    @foreach (var purchase in Model.Purchases)
    {
        <div class="col-md-4" >
            @Html.Partial("PartialViews/_PurchaseCard", purchase)
        </div>
    }
</div>
