@using HandmadeCity.ViewModels.Product
@model HandmadeCity.ViewModels.Product.ProductsViewModel
@{
    ViewData["Title"] = "Товары";
}

<div class="container" >
    @foreach (var product in Model.Products) {
        <div class="col-md-4" >
            @Html.Partial("PartialViews/_ProductCard", product)
        </div>
    }
</div>


